 h1{
    text-align: center;
    color:  green;
}
h2 { 
    background-color: lightgray;
    color: seagreen;
}

footer{
    text-align: center;
}
 nav ul li {
     color: cornflowerblue;
 }
 nav ol li {
     color: darkblue;
 }